gunicorn==20.0.4
scipy==1.1.0
matplotlib==2.2.2
tensorflow==1.12.0
pandas==1.0.3
nsepy==0.8
python-dateutil==2.8.1
Keras==2.2.4
tweepy==3.7.0
textblob==0.15.3
pandas_datareader==0.8.1
Flask==1.0.2
numpy==1.16.4
statsmodels==0.9.0
scikit_learn==0.22.2.post1
vaderSentiment==3.3.1
glob2==0.6
pickleshare==0.7.4
nltk==3.3
spacy==2.1.4
en-core-web-sm
wordcloud==1.7.0
jsonschema==2.6.0
