gunicorn==20.0.4
scipy==1.1.0
matplotlib==2.2.2
tensorflow==2.6.4
pandas==1.0.3
nsepy==0.8
python-dateutil==2.8.1
Keras==2.2.4
tweepy==3.7.0
textblob==0.15.3
pandas_datareader==0.8.1
Flask==1.0.2
numpy==1.16.4
statsmodels==0.9.0
scikit_learn==0.22.2.post1
vaderSentiment==3.3.1
glob2==0.6
pickleshare==0.7.4
nltk==3.3
gensim==3.8.1
spacy==2.1.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0
wordcloud==1.7.0
jsonschema==2.6.0
