<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>High</th>
      <th>Low</th>
      <th>Open</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Adj Close</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019-12-31</th>
      <td>1.41</td>
      <td>1.36</td>
      <td>1.37</td>
      <td>1.36</td>
      <td>10800</td>
      <td>1.36</td>
    </tr>
    <tr>
      <th>2020-01-02</th>
      <td>1.38</td>
      <td>1.35</td>
      <td>1.35</td>
      <td>1.35</td>
      <td>4300</td>
      <td>1.35</td>
    </tr>
    <tr>
      <th>2020-01-03</th>
      <td>1.49</td>
      <td>1.36</td>
      <td>1.36</td>
      <td>1.47</td>
      <td>42000</td>
      <td>1.47</td>
    </tr>
    <tr>
      <th>2020-01-06</th>
      <td>1.51</td>
      <td>1.36</td>
      <td>1.51</td>
      <td>1.43</td>
      <td>18700</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th>2020-01-07</th>
      <td>1.44</td>
      <td>1.36</td>
      <td>1.39</td>
      <td>1.43</td>
      <td>13700</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th>2020-01-08</th>
      <td>1.58</td>
      <td>1.36</td>
      <td>1.41</td>
      <td>1.51</td>
      <td>90900</td>
      <td>1.51</td>
    </tr>
    <tr>
      <th>2020-01-09</th>
      <td>1.63</td>
      <td>1.43</td>
      <td>1.57</td>
      <td>1.45</td>
      <td>27300</td>
      <td>1.45</td>
    </tr>
    <tr>
      <th>2020-01-10</th>
      <td>1.52</td>
      <td>1.41</td>
      <td>1.45</td>
      <td>1.48</td>
      <td>35800</td>
      <td>1.48</td>
    </tr>
    <tr>
      <th>2020-01-13</th>
      <td>1.70</td>
      <td>1.42</td>
      <td>1.52</td>
      <td>1.52</td>
      <td>27900</td>
      <td>1.52</td>
    </tr>
    <tr>
      <th>2020-01-14</th>
      <td>1.55</td>
      <td>1.50</td>
      <td>1.51</td>
      <td>1.55</td>
      <td>5100</td>
      <td>1.55</td>
    </tr>
    <tr>
      <th>2020-01-15</th>
      <td>1.80</td>
      <td>1.54</td>
      <td>1.54</td>
      <td>1.61</td>
      <td>51000</td>
      <td>1.61</td>
    </tr>
    <tr>
      <th>2020-01-16</th>
      <td>1.72</td>
      <td>1.63</td>
      <td>1.69</td>
      <td>1.63</td>
      <td>17100</td>
      <td>1.63</td>
    </tr>
    <tr>
      <th>2020-01-17</th>
      <td>1.67</td>
      <td>1.40</td>
      <td>1.67</td>
      <td>1.40</td>
      <td>52000</td>
      <td>1.40</td>
    </tr>
    <tr>
      <th>2020-01-21</th>
      <td>1.47</td>
      <td>1.41</td>
      <td>1.41</td>
      <td>1.41</td>
      <td>7300</td>
      <td>1.41</td>
    </tr>
    <tr>
      <th>2020-01-22</th>
      <td>1.55</td>
      <td>1.44</td>
      <td>1.49</td>
      <td>1.53</td>
      <td>26200</td>
      <td>1.53</td>
    </tr>
    <tr>
      <th>2020-01-23</th>
      <td>1.48</td>
      <td>1.41</td>
      <td>1.48</td>
      <td>1.44</td>
      <td>3600</td>
      <td>1.44</td>
    </tr>
    <tr>
      <th>2020-01-24</th>
      <td>1.47</td>
      <td>1.35</td>
      <td>1.47</td>
      <td>1.36</td>
      <td>34600</td>
      <td>1.36</td>
    </tr>
    <tr>
      <th>2020-01-27</th>
      <td>1.37</td>
      <td>1.25</td>
      <td>1.34</td>
      <td>1.31</td>
      <td>9200</td>
      <td>1.31</td>
    </tr>
    <tr>
      <th>2020-01-28</th>
      <td>1.34</td>
      <td>1.21</td>
      <td>1.33</td>
      <td>1.26</td>
      <td>33300</td>
      <td>1.26</td>
    </tr>
    <tr>
      <th>2020-01-29</th>
      <td>1.26</td>
      <td>1.14</td>
      <td>1.21</td>
      <td>1.16</td>
      <td>18100</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th>2020-01-30</th>
      <td>1.24</td>
      <td>1.15</td>
      <td>1.16</td>
      <td>1.16</td>
      <td>7000</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th>2020-01-31</th>
      <td>1.22</td>
      <td>1.15</td>
      <td>1.15</td>
      <td>1.16</td>
      <td>11600</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th>2020-02-03</th>
      <td>1.19</td>
      <td>1.15</td>
      <td>1.16</td>
      <td>1.16</td>
      <td>12700</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th>2020-02-04</th>
      <td>1.17</td>
      <td>1.15</td>
      <td>1.16</td>
      <td>1.15</td>
      <td>3700</td>
      <td>1.15</td>
    </tr>
    <tr>
      <th>2020-02-05</th>
      <td>1.16</td>
      <td>1.15</td>
      <td>1.16</td>
      <td>1.16</td>
      <td>7100</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th>2020-02-06</th>
      <td>1.16</td>
      <td>1.13</td>
      <td>1.16</td>
      <td>1.14</td>
      <td>12900</td>
      <td>1.14</td>
    </tr>
    <tr>
      <th>2020-02-07</th>
      <td>1.14</td>
      <td>1.03</td>
      <td>1.13</td>
      <td>1.03</td>
      <td>11900</td>
      <td>1.03</td>
    </tr>
    <tr>
      <th>2020-02-10</th>
      <td>1.12</td>
      <td>1.04</td>
      <td>1.04</td>
      <td>1.10</td>
      <td>19400</td>
      <td>1.10</td>
    </tr>
    <tr>
      <th>2020-02-11</th>
      <td>1.11</td>
      <td>1.04</td>
      <td>1.11</td>
      <td>1.08</td>
      <td>10700</td>
      <td>1.08</td>
    </tr>
    <tr>
      <th>2020-02-12</th>
      <td>1.05</td>
      <td>1.03</td>
      <td>1.03</td>
      <td>1.05</td>
      <td>9500</td>
      <td>1.05</td>
    </tr>
    <tr>
      <th>2020-02-13</th>
      <td>1.11</td>
      <td>1.04</td>
      <td>1.04</td>
      <td>1.10</td>
      <td>7600</td>
      <td>1.10</td>
    </tr>
    <tr>
      <th>2020-02-14</th>
      <td>1.24</td>
      <td>1.06</td>
      <td>1.10</td>
      <td>1.15</td>
      <td>77100</td>
      <td>1.15</td>
    </tr>
    <tr>
      <th>2020-02-18</th>
      <td>1.62</td>
      <td>1.17</td>
      <td>1.17</td>
      <td>1.29</td>
      <td>71700</td>
      <td>1.29</td>
    </tr>
    <tr>
      <th>2020-02-19</th>
      <td>1.32</td>
      <td>1.10</td>
      <td>1.30</td>
      <td>1.17</td>
      <td>29200</td>
      <td>1.17</td>
    </tr>
    <tr>
      <th>2020-02-20</th>
      <td>1.30</td>
      <td>1.17</td>
      <td>1.22</td>
      <td>1.24</td>
      <td>29300</td>
      <td>1.24</td>
    </tr>
    <tr>
      <th>2020-02-21</th>
      <td>1.22</td>
      <td>1.11</td>
      <td>1.22</td>
      <td>1.11</td>
      <td>17500</td>
      <td>1.11</td>
    </tr>
    <tr>
      <th>2020-02-24</th>
      <td>1.17</td>
      <td>1.02</td>
      <td>1.06</td>
      <td>1.05</td>
      <td>36100</td>
      <td>1.05</td>
    </tr>
    <tr>
      <th>2020-02-25</th>
      <td>1.24</td>
      <td>1.05</td>
      <td>1.05</td>
      <td>1.14</td>
      <td>87100</td>
      <td>1.14</td>
    </tr>
    <tr>
      <th>2020-02-26</th>
      <td>1.18</td>
      <td>1.05</td>
      <td>1.18</td>
      <td>1.13</td>
      <td>24600</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th>2020-02-27</th>
      <td>1.13</td>
      <td>1.05</td>
      <td>1.13</td>
      <td>1.06</td>
      <td>35300</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th>2020-02-28</th>
      <td>1.07</td>
      <td>0.95</td>
      <td>1.02</td>
      <td>1.03</td>
      <td>45900</td>
      <td>1.03</td>
    </tr>
    <tr>
      <th>2020-03-02</th>
      <td>1.00</td>
      <td>0.98</td>
      <td>1.00</td>
      <td>0.98</td>
      <td>13500</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th>2020-03-03</th>
      <td>1.01</td>
      <td>0.97</td>
      <td>0.99</td>
      <td>0.98</td>
      <td>40800</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th>2020-03-04</th>
      <td>1.08</td>
      <td>0.96</td>
      <td>0.97</td>
      <td>1.00</td>
      <td>23800</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th>2020-03-05</th>
      <td>1.00</td>
      <td>0.96</td>
      <td>1.00</td>
      <td>0.96</td>
      <td>2600</td>
      <td>0.96</td>
    </tr>
    <tr>
      <th>2020-03-06</th>
      <td>1.01</td>
      <td>0.96</td>
      <td>0.96</td>
      <td>1.00</td>
      <td>8900</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th>2020-03-09</th>
      <td>1.03</td>
      <td>0.97</td>
      <td>1.00</td>
      <td>0.97</td>
      <td>23700</td>
      <td>0.97</td>
    </tr>
    <tr>
      <th>2020-03-10</th>
      <td>1.02</td>
      <td>0.96</td>
      <td>0.98</td>
      <td>0.98</td>
      <td>9100</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th>2020-03-11</th>
      <td>0.97</td>
      <td>0.96</td>
      <td>0.96</td>
      <td>0.96</td>
      <td>35600</td>
      <td>0.96</td>
    </tr>
    <tr>
      <th>2020-03-12</th>
      <td>1.00</td>
      <td>0.90</td>
      <td>0.96</td>
      <td>0.90</td>
      <td>35900</td>
      <td>0.90</td>
    </tr>
    <tr>
      <th>2020-03-13</th>
      <td>0.97</td>
      <td>0.86</td>
      <td>0.90</td>
      <td>0.86</td>
      <td>16400</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th>2020-03-16</th>
      <td>0.91</td>
      <td>0.85</td>
      <td>0.85</td>
      <td>0.85</td>
      <td>16200</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th>2020-03-17</th>
      <td>0.93</td>
      <td>0.85</td>
      <td>0.89</td>
      <td>0.91</td>
      <td>20300</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th>2020-03-18</th>
      <td>0.93</td>
      <td>0.70</td>
      <td>0.85</td>
      <td>0.73</td>
      <td>23600</td>
      <td>0.73</td>
    </tr>
    <tr>
      <th>2020-03-19</th>
      <td>0.76</td>
      <td>0.70</td>
      <td>0.72</td>
      <td>0.74</td>
      <td>7800</td>
      <td>0.74</td>
    </tr>
    <tr>
      <th>2020-03-20</th>
      <td>1.10</td>
      <td>0.75</td>
      <td>0.75</td>
      <td>0.90</td>
      <td>9200</td>
      <td>0.90</td>
    </tr>
    <tr>
      <th>2020-03-23</th>
      <td>0.90</td>
      <td>0.80</td>
      <td>0.90</td>
      <td>0.84</td>
      <td>9000</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th>2020-03-24</th>
      <td>1.06</td>
      <td>0.75</td>
      <td>0.86</td>
      <td>0.86</td>
      <td>6500</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th>2020-03-25</th>
      <td>0.96</td>
      <td>0.80</td>
      <td>0.81</td>
      <td>0.91</td>
      <td>8800</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th>2020-03-26</th>
      <td>1.00</td>
      <td>0.90</td>
      <td>0.95</td>
      <td>1.00</td>
      <td>11000</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th>2020-03-27</th>
      <td>1.02</td>
      <td>0.95</td>
      <td>1.02</td>
      <td>0.96</td>
      <td>4300</td>
      <td>0.96</td>
    </tr>
    <tr>
      <th>2020-03-30</th>
      <td>1.00</td>
      <td>0.88</td>
      <td>0.88</td>
      <td>0.95</td>
      <td>6500</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th>2020-03-31</th>
      <td>0.95</td>
      <td>0.90</td>
      <td>0.90</td>
      <td>0.95</td>
      <td>8300</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th>2020-04-01</th>
      <td>1.01</td>
      <td>0.94</td>
      <td>0.95</td>
      <td>0.95</td>
      <td>1900</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th>2020-04-02</th>
      <td>0.95</td>
      <td>0.91</td>
      <td>0.95</td>
      <td>0.92</td>
      <td>5200</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th>2020-04-03</th>
      <td>0.95</td>
      <td>0.95</td>
      <td>0.95</td>
      <td>0.95</td>
      <td>700</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th>2020-04-06</th>
      <td>0.95</td>
      <td>0.94</td>
      <td>0.95</td>
      <td>0.95</td>
      <td>3500</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th>2020-04-07</th>
      <td>0.95</td>
      <td>0.80</td>
      <td>0.95</td>
      <td>0.90</td>
      <td>19100</td>
      <td>0.90</td>
    </tr>
    <tr>
      <th>2020-04-08</th>
      <td>0.90</td>
      <td>0.82</td>
      <td>0.90</td>
      <td>0.88</td>
      <td>14200</td>
      <td>0.88</td>
    </tr>
    <tr>
      <th>2020-04-09</th>
      <td>0.91</td>
      <td>0.80</td>
      <td>0.88</td>
      <td>0.85</td>
      <td>22300</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th>2020-04-13</th>
      <td>0.86</td>
      <td>0.82</td>
      <td>0.82</td>
      <td>0.82</td>
      <td>5700</td>
      <td>0.82</td>
    </tr>
    <tr>
      <th>2020-04-14</th>
      <td>0.89</td>
      <td>0.82</td>
      <td>0.83</td>
      <td>0.82</td>
      <td>9100</td>
      <td>0.82</td>
    </tr>
    <tr>
      <th>2020-04-15</th>
      <td>0.86</td>
      <td>0.82</td>
      <td>0.82</td>
      <td>0.86</td>
      <td>2700</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th>2020-04-16</th>
      <td>0.87</td>
      <td>0.82</td>
      <td>0.87</td>
      <td>0.85</td>
      <td>8200</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th>2020-04-17</th>
      <td>0.86</td>
      <td>0.82</td>
      <td>0.83</td>
      <td>0.84</td>
      <td>7600</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th>2020-04-20</th>
      <td>0.85</td>
      <td>0.83</td>
      <td>0.83</td>
      <td>0.83</td>
      <td>3000</td>
      <td>0.83</td>
    </tr>
    <tr>
      <th>2020-04-21</th>
      <td>0.78</td>
      <td>0.70</td>
      <td>0.78</td>
      <td>0.77</td>
      <td>10300</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th>2020-04-22</th>
      <td>0.78</td>
      <td>0.75</td>
      <td>0.77</td>
      <td>0.76</td>
      <td>16500</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th>2020-04-23</th>
      <td>0.78</td>
      <td>0.74</td>
      <td>0.78</td>
      <td>0.74</td>
      <td>3900</td>
      <td>0.74</td>
    </tr>
    <tr>
      <th>2020-04-24</th>
      <td>0.81</td>
      <td>0.75</td>
      <td>0.81</td>
      <td>0.75</td>
      <td>7100</td>
      <td>0.75</td>
    </tr>
    <tr>
      <th>2020-04-27</th>
      <td>0.79</td>
      <td>0.61</td>
      <td>0.75</td>
      <td>0.67</td>
      <td>62800</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th>2020-04-28</th>
      <td>0.75</td>
      <td>0.69</td>
      <td>0.69</td>
      <td>0.75</td>
      <td>20200</td>
      <td>0.75</td>
    </tr>
    <tr>
      <th>2020-04-29</th>
      <td>0.74</td>
      <td>0.71</td>
      <td>0.74</td>
      <td>0.72</td>
      <td>17200</td>
      <td>0.72</td>
    </tr>
    <tr>
      <th>2020-04-30</th>
      <td>0.76</td>
      <td>0.72</td>
      <td>0.76</td>
      <td>0.72</td>
      <td>10700</td>
      <td>0.72</td>
    </tr>
    <tr>
      <th>2020-05-01</th>
      <td>0.80</td>
      <td>0.65</td>
      <td>0.80</td>
      <td>0.74</td>
      <td>33100</td>
      <td>0.74</td>
    </tr>
  </tbody>
</table>