<button onclick="goBack()">Back</button> <script> function goBack() { window.history.back(); }</script><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Symbol</th>
      <th>Series</th>
      <th>Prev Close</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Last</th>
      <th>Close</th>
      <th>VWAP</th>
      <th>Volume</th>
      <th>Turnover</th>
      <th>Trades</th>
      <th>Deliverable Volume</th>
      <th>%Deliverble</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2020-01-01</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.55</td>
      <td>7.65</td>
      <td>8.10</td>
      <td>7.50</td>
      <td>7.65</td>
      <td>7.75</td>
      <td>7.73</td>
      <td>298173</td>
      <td>2.305046e+11</td>
      <td>470</td>
      <td>208536</td>
      <td>0.6994</td>
    </tr>
    <tr>
      <th>2020-01-02</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.75</td>
      <td>7.75</td>
      <td>8.45</td>
      <td>7.60</td>
      <td>8.15</td>
      <td>8.20</td>
      <td>8.18</td>
      <td>468478</td>
      <td>3.830861e+11</td>
      <td>856</td>
      <td>309217</td>
      <td>0.6600</td>
    </tr>
    <tr>
      <th>2020-01-03</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>8.20</td>
      <td>8.20</td>
      <td>8.50</td>
      <td>7.85</td>
      <td>8.45</td>
      <td>8.40</td>
      <td>8.37</td>
      <td>525674</td>
      <td>4.400212e+11</td>
      <td>535</td>
      <td>419457</td>
      <td>0.7979</td>
    </tr>
    <tr>
      <th>2020-01-06</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>8.40</td>
      <td>8.10</td>
      <td>8.30</td>
      <td>7.95</td>
      <td>8.00</td>
      <td>8.05</td>
      <td>8.06</td>
      <td>158581</td>
      <td>1.277683e+11</td>
      <td>319</td>
      <td>120638</td>
      <td>0.7607</td>
    </tr>
    <tr>
      <th>2020-01-07</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>8.05</td>
      <td>8.50</td>
      <td>8.50</td>
      <td>8.15</td>
      <td>8.15</td>
      <td>8.20</td>
      <td>8.25</td>
      <td>127374</td>
      <td>1.051451e+11</td>
      <td>291</td>
      <td>82179</td>
      <td>0.6452</td>
    </tr>
    <tr>
      <th>2020-01-08</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>8.20</td>
      <td>8.00</td>
      <td>8.20</td>
      <td>7.95</td>
      <td>8.00</td>
      <td>8.00</td>
      <td>8.04</td>
      <td>90583</td>
      <td>7.286734e+10</td>
      <td>192</td>
      <td>81901</td>
      <td>0.9042</td>
    </tr>
    <tr>
      <th>2020-01-09</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>8.00</td>
      <td>8.10</td>
      <td>8.35</td>
      <td>7.85</td>
      <td>7.85</td>
      <td>7.95</td>
      <td>8.09</td>
      <td>251329</td>
      <td>2.032952e+11</td>
      <td>375</td>
      <td>179312</td>
      <td>0.7135</td>
    </tr>
    <tr>
      <th>2020-01-10</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.95</td>
      <td>8.00</td>
      <td>8.05</td>
      <td>7.75</td>
      <td>7.95</td>
      <td>8.00</td>
      <td>7.94</td>
      <td>209133</td>
      <td>1.660688e+11</td>
      <td>298</td>
      <td>152344</td>
      <td>0.7285</td>
    </tr>
    <tr>
      <th>2020-01-13</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>8.00</td>
      <td>8.00</td>
      <td>8.15</td>
      <td>7.95</td>
      <td>7.95</td>
      <td>8.00</td>
      <td>8.01</td>
      <td>145125</td>
      <td>1.163001e+11</td>
      <td>196</td>
      <td>109245</td>
      <td>0.7528</td>
    </tr>
    <tr>
      <th>2020-01-14</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>8.00</td>
      <td>8.00</td>
      <td>8.10</td>
      <td>7.65</td>
      <td>7.75</td>
      <td>7.70</td>
      <td>7.79</td>
      <td>300209</td>
      <td>2.338949e+11</td>
      <td>470</td>
      <td>238843</td>
      <td>0.7956</td>
    </tr>
    <tr>
      <th>2020-01-15</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.70</td>
      <td>7.75</td>
      <td>8.25</td>
      <td>7.50</td>
      <td>7.70</td>
      <td>7.75</td>
      <td>7.86</td>
      <td>512571</td>
      <td>4.026876e+11</td>
      <td>669</td>
      <td>264935</td>
      <td>0.5169</td>
    </tr>
    <tr>
      <th>2020-01-16</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.75</td>
      <td>8.10</td>
      <td>8.30</td>
      <td>7.85</td>
      <td>8.00</td>
      <td>8.00</td>
      <td>8.10</td>
      <td>360621</td>
      <td>2.920044e+11</td>
      <td>521</td>
      <td>225720</td>
      <td>0.6259</td>
    </tr>
    <tr>
      <th>2020-01-17</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>8.00</td>
      <td>8.00</td>
      <td>8.15</td>
      <td>7.80</td>
      <td>7.85</td>
      <td>7.85</td>
      <td>7.92</td>
      <td>206519</td>
      <td>1.636371e+11</td>
      <td>315</td>
      <td>179621</td>
      <td>0.8698</td>
    </tr>
    <tr>
      <th>2020-01-20</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.85</td>
      <td>7.95</td>
      <td>8.05</td>
      <td>7.65</td>
      <td>7.70</td>
      <td>7.75</td>
      <td>7.84</td>
      <td>168636</td>
      <td>1.321631e+11</td>
      <td>225</td>
      <td>135716</td>
      <td>0.8048</td>
    </tr>
    <tr>
      <th>2020-01-21</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.75</td>
      <td>7.85</td>
      <td>7.85</td>
      <td>7.55</td>
      <td>7.65</td>
      <td>7.60</td>
      <td>7.69</td>
      <td>164826</td>
      <td>1.266728e+11</td>
      <td>304</td>
      <td>113872</td>
      <td>0.6909</td>
    </tr>
    <tr>
      <th>2020-01-22</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.60</td>
      <td>7.70</td>
      <td>7.85</td>
      <td>7.55</td>
      <td>7.60</td>
      <td>7.60</td>
      <td>7.66</td>
      <td>147810</td>
      <td>1.132459e+11</td>
      <td>293</td>
      <td>120920</td>
      <td>0.8181</td>
    </tr>
    <tr>
      <th>2020-01-23</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.60</td>
      <td>7.70</td>
      <td>7.75</td>
      <td>7.55</td>
      <td>7.65</td>
      <td>7.60</td>
      <td>7.65</td>
      <td>91075</td>
      <td>6.963882e+10</td>
      <td>214</td>
      <td>70625</td>
      <td>0.7755</td>
    </tr>
    <tr>
      <th>2020-01-24</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.60</td>
      <td>7.65</td>
      <td>7.70</td>
      <td>7.50</td>
      <td>7.60</td>
      <td>7.55</td>
      <td>7.56</td>
      <td>382971</td>
      <td>2.896827e+11</td>
      <td>367</td>
      <td>315920</td>
      <td>0.8249</td>
    </tr>
    <tr>
      <th>2020-01-27</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.55</td>
      <td>7.55</td>
      <td>7.55</td>
      <td>7.05</td>
      <td>7.35</td>
      <td>7.20</td>
      <td>7.37</td>
      <td>275327</td>
      <td>2.030236e+11</td>
      <td>452</td>
      <td>219651</td>
      <td>0.7978</td>
    </tr>
    <tr>
      <th>2020-01-28</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.20</td>
      <td>7.35</td>
      <td>7.35</td>
      <td>7.00</td>
      <td>7.05</td>
      <td>7.05</td>
      <td>7.15</td>
      <td>138512</td>
      <td>9.904888e+10</td>
      <td>413</td>
      <td>115239</td>
      <td>0.8320</td>
    </tr>
    <tr>
      <th>2020-01-29</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.05</td>
      <td>7.10</td>
      <td>7.20</td>
      <td>7.10</td>
      <td>7.15</td>
      <td>7.10</td>
      <td>7.16</td>
      <td>76355</td>
      <td>5.466668e+10</td>
      <td>171</td>
      <td>70876</td>
      <td>0.9282</td>
    </tr>
    <tr>
      <th>2020-01-30</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.10</td>
      <td>7.15</td>
      <td>7.15</td>
      <td>6.90</td>
      <td>6.95</td>
      <td>6.95</td>
      <td>6.96</td>
      <td>150373</td>
      <td>1.046906e+11</td>
      <td>298</td>
      <td>124848</td>
      <td>0.8303</td>
    </tr>
    <tr>
      <th>2020-01-31</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>6.95</td>
      <td>6.95</td>
      <td>8.00</td>
      <td>6.90</td>
      <td>7.40</td>
      <td>7.40</td>
      <td>7.50</td>
      <td>404831</td>
      <td>3.036670e+11</td>
      <td>591</td>
      <td>248862</td>
      <td>0.6147</td>
    </tr>
    <tr>
      <th>2020-02-01</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>7.40</td>
      <td>7.20</td>
      <td>7.75</td>
      <td>6.85</td>
      <td>6.90</td>
      <td>6.95</td>
      <td>7.30</td>
      <td>321269</td>
      <td>2.344740e+11</td>
      <td>687</td>
      <td>186093</td>
      <td>0.5792</td>
    </tr>
    <tr>
      <th>2020-02-03</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>6.95</td>
      <td>6.95</td>
      <td>7.00</td>
      <td>6.65</td>
      <td>6.70</td>
      <td>6.75</td>
      <td>6.81</td>
      <td>115003</td>
      <td>7.836930e+10</td>
      <td>394</td>
      <td>73306</td>
      <td>0.6374</td>
    </tr>
    <tr>
      <th>2020-02-04</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>6.75</td>
      <td>6.70</td>
      <td>7.35</td>
      <td>6.70</td>
      <td>6.80</td>
      <td>6.80</td>
      <td>6.95</td>
      <td>294270</td>
      <td>2.046323e+11</td>
      <td>518</td>
      <td>164307</td>
      <td>0.5584</td>
    </tr>
    <tr>
      <th>2020-02-05</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>6.80</td>
      <td>6.75</td>
      <td>7.10</td>
      <td>6.25</td>
      <td>6.40</td>
      <td>6.30</td>
      <td>6.62</td>
      <td>326996</td>
      <td>2.164866e+11</td>
      <td>791</td>
      <td>216758</td>
      <td>0.6629</td>
    </tr>
    <tr>
      <th>2020-02-06</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>6.30</td>
      <td>6.30</td>
      <td>7.10</td>
      <td>6.30</td>
      <td>6.50</td>
      <td>6.50</td>
      <td>6.69</td>
      <td>697446</td>
      <td>4.664943e+11</td>
      <td>919</td>
      <td>438269</td>
      <td>0.6284</td>
    </tr>
    <tr>
      <th>2020-02-07</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>6.50</td>
      <td>6.50</td>
      <td>6.85</td>
      <td>6.45</td>
      <td>6.50</td>
      <td>6.50</td>
      <td>6.58</td>
      <td>196568</td>
      <td>1.293380e+11</td>
      <td>345</td>
      <td>113392</td>
      <td>0.5769</td>
    </tr>
    <tr>
      <th>2020-02-10</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>6.50</td>
      <td>6.50</td>
      <td>6.60</td>
      <td>6.10</td>
      <td>6.45</td>
      <td>6.45</td>
      <td>6.41</td>
      <td>438277</td>
      <td>2.808169e+11</td>
      <td>389</td>
      <td>344894</td>
      <td>0.7869</td>
    </tr>
    <tr>
      <th>2020-02-11</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>6.45</td>
      <td>6.45</td>
      <td>6.55</td>
      <td>5.85</td>
      <td>5.95</td>
      <td>5.95</td>
      <td>6.14</td>
      <td>414170</td>
      <td>2.544541e+11</td>
      <td>658</td>
      <td>284807</td>
      <td>0.6877</td>
    </tr>
    <tr>
      <th>2020-02-12</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>5.95</td>
      <td>6.00</td>
      <td>6.15</td>
      <td>5.30</td>
      <td>5.50</td>
      <td>5.45</td>
      <td>5.71</td>
      <td>349302</td>
      <td>1.993849e+11</td>
      <td>795</td>
      <td>226981</td>
      <td>0.6498</td>
    </tr>
    <tr>
      <th>2020-02-13</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>5.45</td>
      <td>5.85</td>
      <td>5.85</td>
      <td>5.40</td>
      <td>5.55</td>
      <td>5.55</td>
      <td>5.52</td>
      <td>150851</td>
      <td>8.329968e+10</td>
      <td>499</td>
      <td>117445</td>
      <td>0.7785</td>
    </tr>
    <tr>
      <th>2020-02-14</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>5.55</td>
      <td>5.55</td>
      <td>5.60</td>
      <td>5.25</td>
      <td>5.50</td>
      <td>5.45</td>
      <td>5.42</td>
      <td>205224</td>
      <td>1.112512e+11</td>
      <td>369</td>
      <td>139680</td>
      <td>0.6806</td>
    </tr>
    <tr>
      <th>2020-02-17</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>5.45</td>
      <td>5.60</td>
      <td>5.60</td>
      <td>4.85</td>
      <td>4.95</td>
      <td>5.00</td>
      <td>5.06</td>
      <td>336270</td>
      <td>1.700370e+11</td>
      <td>746</td>
      <td>258162</td>
      <td>0.7677</td>
    </tr>
    <tr>
      <th>2020-02-18</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>5.00</td>
      <td>5.05</td>
      <td>5.10</td>
      <td>4.70</td>
      <td>4.90</td>
      <td>4.90</td>
      <td>4.85</td>
      <td>255843</td>
      <td>1.240347e+11</td>
      <td>560</td>
      <td>180904</td>
      <td>0.7071</td>
    </tr>
    <tr>
      <th>2020-02-19</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.90</td>
      <td>4.90</td>
      <td>5.30</td>
      <td>4.80</td>
      <td>4.85</td>
      <td>4.85</td>
      <td>4.95</td>
      <td>255802</td>
      <td>1.265993e+11</td>
      <td>467</td>
      <td>179070</td>
      <td>0.7000</td>
    </tr>
    <tr>
      <th>2020-02-20</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.85</td>
      <td>4.85</td>
      <td>5.55</td>
      <td>4.85</td>
      <td>5.25</td>
      <td>5.20</td>
      <td>5.19</td>
      <td>282488</td>
      <td>1.465266e+11</td>
      <td>776</td>
      <td>176136</td>
      <td>0.6235</td>
    </tr>
    <tr>
      <th>2020-02-24</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>5.20</td>
      <td>5.20</td>
      <td>5.25</td>
      <td>4.45</td>
      <td>4.70</td>
      <td>4.65</td>
      <td>4.70</td>
      <td>732837</td>
      <td>3.443035e+11</td>
      <td>1075</td>
      <td>504977</td>
      <td>0.6891</td>
    </tr>
    <tr>
      <th>2020-02-25</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.65</td>
      <td>4.65</td>
      <td>5.00</td>
      <td>4.40</td>
      <td>4.65</td>
      <td>4.70</td>
      <td>4.74</td>
      <td>684096</td>
      <td>3.245591e+11</td>
      <td>748</td>
      <td>512590</td>
      <td>0.7493</td>
    </tr>
    <tr>
      <th>2020-02-26</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.70</td>
      <td>4.45</td>
      <td>4.85</td>
      <td>4.40</td>
      <td>4.50</td>
      <td>4.60</td>
      <td>4.73</td>
      <td>370494</td>
      <td>1.751573e+11</td>
      <td>446</td>
      <td>252663</td>
      <td>0.6820</td>
    </tr>
    <tr>
      <th>2020-02-27</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.60</td>
      <td>4.60</td>
      <td>4.75</td>
      <td>4.40</td>
      <td>4.50</td>
      <td>4.55</td>
      <td>4.62</td>
      <td>326478</td>
      <td>1.508456e+11</td>
      <td>438</td>
      <td>229577</td>
      <td>0.7032</td>
    </tr>
    <tr>
      <th>2020-02-28</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.55</td>
      <td>4.50</td>
      <td>4.65</td>
      <td>4.45</td>
      <td>4.50</td>
      <td>4.50</td>
      <td>4.59</td>
      <td>226361</td>
      <td>1.037999e+11</td>
      <td>334</td>
      <td>165016</td>
      <td>0.7290</td>
    </tr>
    <tr>
      <th>2020-03-02</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.50</td>
      <td>4.80</td>
      <td>4.80</td>
      <td>4.10</td>
      <td>4.20</td>
      <td>4.40</td>
      <td>4.50</td>
      <td>188793</td>
      <td>8.499076e+10</td>
      <td>372</td>
      <td>130771</td>
      <td>0.6927</td>
    </tr>
    <tr>
      <th>2020-03-03</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.40</td>
      <td>4.60</td>
      <td>4.60</td>
      <td>3.55</td>
      <td>4.00</td>
      <td>4.00</td>
      <td>3.92</td>
      <td>1078630</td>
      <td>4.233488e+11</td>
      <td>1012</td>
      <td>627453</td>
      <td>0.5817</td>
    </tr>
    <tr>
      <th>2020-03-04</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.00</td>
      <td>3.90</td>
      <td>4.15</td>
      <td>3.85</td>
      <td>4.05</td>
      <td>4.05</td>
      <td>3.99</td>
      <td>354604</td>
      <td>1.415672e+11</td>
      <td>364</td>
      <td>206863</td>
      <td>0.5834</td>
    </tr>
    <tr>
      <th>2020-03-05</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.05</td>
      <td>4.05</td>
      <td>4.10</td>
      <td>3.85</td>
      <td>3.90</td>
      <td>3.90</td>
      <td>3.95</td>
      <td>243031</td>
      <td>9.594275e+10</td>
      <td>251</td>
      <td>163225</td>
      <td>0.6716</td>
    </tr>
    <tr>
      <th>2020-03-06</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.90</td>
      <td>3.90</td>
      <td>3.90</td>
      <td>3.30</td>
      <td>3.40</td>
      <td>3.45</td>
      <td>3.52</td>
      <td>402974</td>
      <td>1.420381e+11</td>
      <td>1225</td>
      <td>283929</td>
      <td>0.7046</td>
    </tr>
    <tr>
      <th>2020-03-09</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.45</td>
      <td>3.40</td>
      <td>4.10</td>
      <td>3.25</td>
      <td>4.10</td>
      <td>3.95</td>
      <td>3.72</td>
      <td>455848</td>
      <td>1.693694e+11</td>
      <td>731</td>
      <td>359547</td>
      <td>0.7887</td>
    </tr>
    <tr>
      <th>2020-03-11</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.95</td>
      <td>4.40</td>
      <td>4.70</td>
      <td>4.10</td>
      <td>4.70</td>
      <td>4.70</td>
      <td>4.47</td>
      <td>736477</td>
      <td>3.291928e+11</td>
      <td>1233</td>
      <td>440699</td>
      <td>0.5984</td>
    </tr>
    <tr>
      <th>2020-03-12</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.70</td>
      <td>4.65</td>
      <td>5.00</td>
      <td>3.85</td>
      <td>4.05</td>
      <td>4.10</td>
      <td>4.19</td>
      <td>1237491</td>
      <td>5.185626e+11</td>
      <td>1332</td>
      <td>873691</td>
      <td>0.7060</td>
    </tr>
    <tr>
      <th>2020-03-13</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.10</td>
      <td>4.10</td>
      <td>4.90</td>
      <td>3.30</td>
      <td>4.00</td>
      <td>4.20</td>
      <td>4.06</td>
      <td>2249787</td>
      <td>9.128922e+11</td>
      <td>1250</td>
      <td>1919928</td>
      <td>0.8534</td>
    </tr>
    <tr>
      <th>2020-03-16</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.20</td>
      <td>4.00</td>
      <td>4.10</td>
      <td>3.40</td>
      <td>3.40</td>
      <td>3.45</td>
      <td>3.60</td>
      <td>1090194</td>
      <td>3.927518e+11</td>
      <td>1484</td>
      <td>551851</td>
      <td>0.5062</td>
    </tr>
    <tr>
      <th>2020-03-17</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.45</td>
      <td>3.75</td>
      <td>3.75</td>
      <td>3.20</td>
      <td>3.45</td>
      <td>3.35</td>
      <td>3.43</td>
      <td>428323</td>
      <td>1.469302e+11</td>
      <td>9856</td>
      <td>243325</td>
      <td>0.5681</td>
    </tr>
    <tr>
      <th>2020-03-18</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.35</td>
      <td>3.60</td>
      <td>3.60</td>
      <td>3.20</td>
      <td>3.40</td>
      <td>3.35</td>
      <td>3.38</td>
      <td>421110</td>
      <td>1.424780e+11</td>
      <td>657</td>
      <td>254273</td>
      <td>0.6038</td>
    </tr>
    <tr>
      <th>2020-03-19</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.35</td>
      <td>3.35</td>
      <td>3.60</td>
      <td>3.00</td>
      <td>3.35</td>
      <td>3.40</td>
      <td>3.23</td>
      <td>247863</td>
      <td>8.012508e+10</td>
      <td>550</td>
      <td>152174</td>
      <td>0.6139</td>
    </tr>
    <tr>
      <th>2020-03-20</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.40</td>
      <td>3.65</td>
      <td>3.85</td>
      <td>3.35</td>
      <td>3.60</td>
      <td>3.65</td>
      <td>3.50</td>
      <td>458167</td>
      <td>1.605746e+11</td>
      <td>820</td>
      <td>303083</td>
      <td>0.6615</td>
    </tr>
    <tr>
      <th>2020-03-23</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.65</td>
      <td>3.55</td>
      <td>3.55</td>
      <td>3.00</td>
      <td>3.10</td>
      <td>3.00</td>
      <td>3.09</td>
      <td>440498</td>
      <td>1.361475e+11</td>
      <td>10407</td>
      <td>372857</td>
      <td>0.8464</td>
    </tr>
    <tr>
      <th>2020-03-24</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.00</td>
      <td>3.40</td>
      <td>3.40</td>
      <td>2.95</td>
      <td>3.00</td>
      <td>3.05</td>
      <td>3.04</td>
      <td>218319</td>
      <td>6.628124e+10</td>
      <td>425</td>
      <td>146444</td>
      <td>0.6708</td>
    </tr>
    <tr>
      <th>2020-03-25</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.05</td>
      <td>3.05</td>
      <td>3.20</td>
      <td>2.90</td>
      <td>3.15</td>
      <td>3.10</td>
      <td>3.04</td>
      <td>169665</td>
      <td>5.150266e+10</td>
      <td>286</td>
      <td>114733</td>
      <td>0.6762</td>
    </tr>
    <tr>
      <th>2020-03-26</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.10</td>
      <td>3.35</td>
      <td>3.40</td>
      <td>3.00</td>
      <td>3.15</td>
      <td>3.15</td>
      <td>3.22</td>
      <td>174042</td>
      <td>5.601771e+10</td>
      <td>368</td>
      <td>114074</td>
      <td>0.6554</td>
    </tr>
    <tr>
      <th>2020-03-27</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.15</td>
      <td>3.30</td>
      <td>3.40</td>
      <td>3.10</td>
      <td>3.20</td>
      <td>3.15</td>
      <td>3.27</td>
      <td>279827</td>
      <td>9.141767e+10</td>
      <td>418</td>
      <td>173389</td>
      <td>0.6196</td>
    </tr>
    <tr>
      <th>2020-03-30</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.15</td>
      <td>3.15</td>
      <td>3.20</td>
      <td>3.00</td>
      <td>3.05</td>
      <td>3.10</td>
      <td>3.11</td>
      <td>124703</td>
      <td>3.875994e+10</td>
      <td>236</td>
      <td>64144</td>
      <td>0.5144</td>
    </tr>
    <tr>
      <th>2020-03-31</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.10</td>
      <td>3.20</td>
      <td>3.30</td>
      <td>3.15</td>
      <td>3.20</td>
      <td>3.15</td>
      <td>3.19</td>
      <td>124348</td>
      <td>3.969435e+10</td>
      <td>181</td>
      <td>120382</td>
      <td>0.9681</td>
    </tr>
    <tr>
      <th>2020-04-01</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.15</td>
      <td>3.20</td>
      <td>3.25</td>
      <td>3.05</td>
      <td>3.10</td>
      <td>3.10</td>
      <td>3.16</td>
      <td>106932</td>
      <td>3.382439e+10</td>
      <td>210</td>
      <td>69502</td>
      <td>0.6500</td>
    </tr>
    <tr>
      <th>2020-04-03</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.10</td>
      <td>3.10</td>
      <td>3.20</td>
      <td>3.05</td>
      <td>3.10</td>
      <td>3.10</td>
      <td>3.13</td>
      <td>169080</td>
      <td>5.285086e+10</td>
      <td>210</td>
      <td>132043</td>
      <td>0.7809</td>
    </tr>
    <tr>
      <th>2020-04-07</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.10</td>
      <td>3.10</td>
      <td>3.30</td>
      <td>3.10</td>
      <td>3.15</td>
      <td>3.15</td>
      <td>3.18</td>
      <td>285379</td>
      <td>9.077460e+10</td>
      <td>372</td>
      <td>209150</td>
      <td>0.7329</td>
    </tr>
    <tr>
      <th>2020-04-08</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.15</td>
      <td>3.15</td>
      <td>3.25</td>
      <td>3.10</td>
      <td>3.15</td>
      <td>3.15</td>
      <td>3.17</td>
      <td>116011</td>
      <td>3.677788e+10</td>
      <td>227</td>
      <td>86955</td>
      <td>0.7495</td>
    </tr>
    <tr>
      <th>2020-04-09</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.15</td>
      <td>3.20</td>
      <td>3.65</td>
      <td>3.15</td>
      <td>3.60</td>
      <td>3.60</td>
      <td>3.53</td>
      <td>605653</td>
      <td>2.139774e+11</td>
      <td>630</td>
      <td>463321</td>
      <td>0.7650</td>
    </tr>
    <tr>
      <th>2020-04-13</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.60</td>
      <td>3.65</td>
      <td>4.30</td>
      <td>3.50</td>
      <td>4.30</td>
      <td>4.25</td>
      <td>3.98</td>
      <td>889016</td>
      <td>3.534309e+11</td>
      <td>1194</td>
      <td>452779</td>
      <td>0.5093</td>
    </tr>
    <tr>
      <th>2020-04-15</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.25</td>
      <td>4.60</td>
      <td>5.10</td>
      <td>4.40</td>
      <td>5.00</td>
      <td>4.90</td>
      <td>4.99</td>
      <td>1441110</td>
      <td>7.191276e+11</td>
      <td>2201</td>
      <td>996660</td>
      <td>0.6916</td>
    </tr>
    <tr>
      <th>2020-04-16</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.90</td>
      <td>5.00</td>
      <td>5.25</td>
      <td>4.90</td>
      <td>4.95</td>
      <td>4.95</td>
      <td>5.05</td>
      <td>610338</td>
      <td>3.083475e+11</td>
      <td>796</td>
      <td>417021</td>
      <td>0.6833</td>
    </tr>
    <tr>
      <th>2020-04-17</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.95</td>
      <td>5.15</td>
      <td>5.25</td>
      <td>4.80</td>
      <td>4.90</td>
      <td>4.90</td>
      <td>4.98</td>
      <td>339378</td>
      <td>1.689195e+11</td>
      <td>603</td>
      <td>248954</td>
      <td>0.7336</td>
    </tr>
    <tr>
      <th>2020-04-20</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.90</td>
      <td>4.90</td>
      <td>4.95</td>
      <td>4.60</td>
      <td>4.85</td>
      <td>4.85</td>
      <td>4.76</td>
      <td>270464</td>
      <td>1.288058e+11</td>
      <td>417</td>
      <td>203853</td>
      <td>0.7537</td>
    </tr>
    <tr>
      <th>2020-04-21</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.85</td>
      <td>4.80</td>
      <td>4.80</td>
      <td>4.40</td>
      <td>4.55</td>
      <td>4.55</td>
      <td>4.54</td>
      <td>304012</td>
      <td>1.380233e+11</td>
      <td>521</td>
      <td>205678</td>
      <td>0.6765</td>
    </tr>
    <tr>
      <th>2020-04-22</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.55</td>
      <td>4.55</td>
      <td>4.55</td>
      <td>4.30</td>
      <td>4.50</td>
      <td>4.45</td>
      <td>4.46</td>
      <td>157454</td>
      <td>7.026486e+10</td>
      <td>316</td>
      <td>120364</td>
      <td>0.7644</td>
    </tr>
    <tr>
      <th>2020-04-23</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.45</td>
      <td>4.50</td>
      <td>4.75</td>
      <td>4.40</td>
      <td>4.40</td>
      <td>4.45</td>
      <td>4.55</td>
      <td>292812</td>
      <td>1.333735e+11</td>
      <td>385</td>
      <td>199936</td>
      <td>0.6828</td>
    </tr>
    <tr>
      <th>2020-04-24</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.45</td>
      <td>4.45</td>
      <td>4.50</td>
      <td>4.10</td>
      <td>4.20</td>
      <td>4.15</td>
      <td>4.30</td>
      <td>238621</td>
      <td>1.025427e+11</td>
      <td>355</td>
      <td>182665</td>
      <td>0.7655</td>
    </tr>
    <tr>
      <th>2020-04-27</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>4.15</td>
      <td>4.35</td>
      <td>4.35</td>
      <td>3.80</td>
      <td>3.85</td>
      <td>3.85</td>
      <td>3.94</td>
      <td>537306</td>
      <td>2.117092e+11</td>
      <td>629</td>
      <td>380186</td>
      <td>0.7076</td>
    </tr>
    <tr>
      <th>2020-04-28</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.85</td>
      <td>4.00</td>
      <td>4.00</td>
      <td>3.80</td>
      <td>3.85</td>
      <td>3.85</td>
      <td>3.87</td>
      <td>393071</td>
      <td>1.521872e+11</td>
      <td>347</td>
      <td>279595</td>
      <td>0.7113</td>
    </tr>
    <tr>
      <th>2020-04-29</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.85</td>
      <td>3.90</td>
      <td>3.90</td>
      <td>3.70</td>
      <td>3.75</td>
      <td>3.75</td>
      <td>3.75</td>
      <td>530002</td>
      <td>1.988644e+11</td>
      <td>425</td>
      <td>443997</td>
      <td>0.8377</td>
    </tr>
    <tr>
      <th>2020-04-30</th>
      <td>A2ZINFRA</td>
      <td>EQ</td>
      <td>3.75</td>
      <td>3.70</td>
      <td>3.90</td>
      <td>3.70</td>
      <td>3.80</td>
      <td>3.80</td>
      <td>3.84</td>
      <td>607400</td>
      <td>2.334173e+11</td>
      <td>457</td>
      <td>430161</td>
      <td>0.7082</td>
    </tr>
  </tbody>
</table>