<link rel="stylesheet" href="{{ url_for('static',filename='style2.css')}}">
<div class='tweet-body'>
<pre>
Yes he was so respectful! Loved it 💙 https://t.co/S7Vs3m0QiC
</pre>
</div>
<div class='tweet-body'>
<pre>
@donaldLchi @IADR @aadr @adeaweb @UWDentalSchool So true...
</pre>
</div>
<div class='tweet-body'>
<pre>
Dentistry has been hit hard by covid. Here’s some evidence @IADR @aadr @adeaweb @UWDentalSchool https://t.co/qizqJzixCn
</pre>
</div>
<div class='tweet-body'>
<pre>
David Wong, AADR president 2010-11, shares how the IADR is the scholastic embodiment of dentistry. Watch more of his story at https://t.co/AIXWUNqnSc. #IADR100 https://t.co/V8codx7DS2
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @Georgia_NAACP: BREAKING: The murderers of Ahmaud Arbery have been arrested.
</pre>
</div>
<div class='tweet-body'>
<pre>
Congrats to Blake LaTendress (Class of 2022), Laramie Lindgren (Class of 2022), and their mentor Dr. Shikha Tarang for their research achievement of second-place at the virtual 2020 AADR/Dentsply Sirona Student Clinicians for Basic and Translational Science Research Competition. https://t.co/B1dLJZ7euk
</pre>
</div>
<div class='tweet-body'>
<pre>
#প্ৰেম #নিস্বাৰ্থ #মৰম #ভালপোৱা #ভালোবাসা #অতীত #বৰ্তমান #souravjyotibhuyan
 
Read my thoughts on @YourQuoteApp at https://t.co/h7oiTebJVo https://t.co/rhBuemZbjJ
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @AdvisorShares: Watch this update from @Lewisjohng and @DorseyWrightDWA on #internationalequities #ETFs #investing #emerging markets #re…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @AdvisorShares: Watch this update from @Lewisjohng and @DorseyWrightDWA on #internationalequities #ETFs #investing #emerging markets #re…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @BLimaMicro: I am honored to have been selected as the recipient of the 2020 AADR Procter &amp; Gamble Underrepresented Faculty Research Fel…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @BLimaMicro: I am honored to have been selected as the recipient of the 2020 AADR Procter &amp; Gamble Underrepresented Faculty Research Fel…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @AdvisorShares: Watch this update from @Lewisjohng and @DorseyWrightDWA on #internationalequities #ETFs #investing #emerging markets #re…
</pre>
</div>
<div class='tweet-body'>
<pre>
Watch this update from @Lewisjohng and @DorseyWrightDWA on #internationalequities #ETFs #investing #emerging markets #relativestrength #managerminute $AADR $DWMC $DWSH $DWUS $DWAW $DWEQ holdings and more information at https://t.co/SzY97Kalg5 https://t.co/gvI7miYagw
</pre>
</div>
<div class='tweet-body'>
<pre>
Check out the full list of award recipients:
IADR - https://t.co/5uZ0CCu62K
AADR - https://t.co/JNhTkjGDlr
</pre>
</div>
<div class='tweet-body'>
<pre>
I am honored to have been selected as the recipient of the 2020 AADR Procter &amp; Gamble Underrepresented Faculty Research Fellowship. Looking forward to sharing our data with the dental research community next year!
@DentalResearch @ProcterGamble @UMNresearch https://t.co/aRIMCEHdvb
</pre>
</div>
<div class='tweet-body'>
<pre>
Honored to be appointed a member of the AADR Committee on Diversity and Inclusion, to develop programs for promoting diversity and inclusion within AADR and the dental, oral, and craniofacial research workforce.
#AADR #IADR #diversityandinclusio #research #RosemanUniversity
</pre>
</div>
<div class='tweet-body'>
<pre>
@_laaamorena_ That looks great!!
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @AADRAFESS: aadr!  Saranin drakor selain Itaewon class, coy, the king external Monarch, sky castle. Dong &gt;&lt;
</pre>
</div>
<div class='tweet-body'>
<pre>
aadr!  Saranin drakor selain Itaewon class, coy, the king external Monarch, sky castle. Dong &gt;&lt;
</pre>
</div>
<div class='tweet-body'>
<pre>
@hellobria Same sis 🥴
</pre>
</div>
