<button onclick="goBack()">Back</button> <script> function goBack() { window.history.back(); }</script>
<link rel="stylesheet" href="{{ url_for('static',filename='style2.css')}}">
<div class='tweet-body'>
<pre>
@3M I am not able to teach them. Have tagged u as well. 

Plz respond. Too much time it seems they are taking to respond. And toll free not working. @3MIndia plz respond if I have bussiness ethics. Learn from ur US partners.
</pre>
</div>
<div class='tweet-body'>
<pre>
@3MIndia Need few Lakhs of 3M mask in Coimbatore... any suppliers ?
</pre>
</div>
<div class='tweet-body'>
<pre>
@3M @3MIndia  Looking for 3M 8210 mask in good qty. Unable to get the right supplier for the same. Kindly let us know the possibility to obtain the stock.
</pre>
</div>
<div class='tweet-body'>
<pre>
@3MIndia can you please tell us how and where to procure the spectacle kit for the full face respirator.
</pre>
</div>
<div class='tweet-body'>
<pre>
@Shehzad88563718 Hi Shehzad - Please connect with our team in India directly through https://t.co/wT0roDchop regarding your inquiry. Thank you.
</pre>
</div>
<div class='tweet-body'>
<pre>
@AbhiPandya2003 Hi Abhishek - Thank you for reaching out to us. Please connect with our team in India directly through https://t.co/WOlpRI4gsg regarding your inquiry. Thanks!
</pre>
</div>
<div class='tweet-body'>
<pre>
@shuvankr @3M @3MIndia has been a trusted supplier for as long as I can remember in the industry for all kinds of masks and PPE
</pre>
</div>
<div class='tweet-body'>
<pre>
Modiji - India was barely making and N95 Masks and no PPE equipment.

Me as a longtime 3MIndia shareholder - https://t.co/mgFYzxh7Ec
</pre>
</div>
<div class='tweet-body'>
<pre>
@3MIndia Hi 3M Team... plz letme know where is 3M N95 masks - main stock Warehouse or Manufacturing unit in India
..asramesh.india@gmail.com 
Watsap 7893639477
</pre>
</div>
<div class='tweet-body'>
<pre>
3M India Limited - Retirement https://t.co/pl3xxibhSo
</pre>
</div>
<div class='tweet-body'>
<pre>
3M India Limited - Retirement: 3M India Limited has informed the Exchange about retirement of Mr. B.V. Shankaranarayana Rao (holding DIN:00044840), Whole-time Director of the Company from the closing hours of May 13, 2020...... https://t.co/pBN7VI4UEl
</pre>
</div>
<div class='tweet-body'>
<pre>
@3MIndia need 3m n95 mask 8210 no 10k pcs ready available no distributor giving rate and traders giving rate of 240/250 so kindly give me possible rate del @kolkata and mumbai
</pre>
</div>
<div class='tweet-body'>
<pre>
@3M I think someone shud Cal Indian branch to let them know how to work and how to respond. From US it was a prompt reply. I called but no response. Call getting disconnected. At these times wen ur all need masks, work shud speak. Plz ask them as I have already tweeted also @3MIndia
</pre>
</div>
<div class='tweet-body'>
<pre>
@CNBC_Awaaz 

Sir morning

Manoj from Haridwar

3MINDIA FOR LONG TERMS.
</pre>
</div>
<div class='tweet-body'>
<pre>
@CNBC_Awaaz 

Morning sir
3MINDIA For long term
</pre>
</div>
<div class='tweet-body'>
<pre>
@3MIndia Hello. We are trying to reach u from few days. But no response. As phone is cont busy and gets disconnected. We got ur info from direct company in US. And we are looking for price of 3m product 8210 1860 8210 + masks. We are from Chennai and need it from business purpose
</pre>
</div>
<div class='tweet-body'>
<pre>
@aakashsai1 @3M @3MIndia Nope. Where is @3MIndia providing contact details. That toll free no doesnt work.
</pre>
</div>
<div class='tweet-body'>
<pre>
@3MIndia 
Please let us know the Hyderabad Distributor details in dm.
</pre>
</div>
<div class='tweet-body'>
<pre>
@Jainam29329540 @3M @3MIndia any luck finding those?
</pre>
</div>
<div class='tweet-body'>
<pre>
@3MIndia Please Provide Any Office Address or Contact of Distributor in New Delhi. Want to purchase for Private Hospital in Quantity &amp; for N.G.O. Thank you in Advance.
</pre>
</div>
