<button onclick="goBack()">Back</button> <script> function goBack() { window.history.back(); }</script>
<link rel="stylesheet" href="{{ url_for('static',filename='style2.css')}}">
<div class='tweet-body'>
<pre>
3 Big Stock Charts for Wednesday: JetBlue, American Airlines, and Southwest Airlines -- my article for @investorplace https://t.co/o99WRyE76M $JBLU $AAL $LUV $SPY $QQQ $DJIA $DIA #stockmarket #investing #finance #stocks #gold #silver $SLV $TWTR $GLD $AAPL $TSLA $AMZN $NFLX $INTC
</pre>
</div>
<div class='tweet-body'>
<pre>
Morning Most Tweeted Mid Caps, check out Gambiste Top 10: $NVAX $grub $GGAL $EURN $AMRN $PENN $AAL $SPCE $WING $BB https://t.co/k3uyuEbRpJ
</pre>
</div>
<div class='tweet-body'>
<pre>
Hit that Notification so you can get notified when I Post My List!

My Pre-Market Watchlist and Game Plan!
$NVAX - PT Increase
$VTIQ - TEAR!
$BYND - Strong

Detailed Notes:
👉🏼https://t.co/sA2BmI0adJ👈🏼

Like &amp; Retweet Appreciated!

$SPY $BA $VTIQ $NFLX $ROKU $BYND $RTTR $SHOP $AAL https://t.co/Viwi8wr4GS
</pre>
</div>
<div class='tweet-body'>
<pre>
@RitaKaddoum94 Ana audi bas eno i didnt sign anything 🤷🏽‍♀️ sahabne ma3ashe aal 3000
</pre>
</div>
<div class='tweet-body'>
<pre>
@gabbuccinoo HAHAHAHHAH walla eza betlaa aal sateh betsir souware b z*hle kella cause l kel h ychufne 😭😂
</pre>
</div>
<div class='tweet-body'>
<pre>
@Post_Market @chamath Regardless of which of you ends up right, is there any decent reason the fed gov't shouldn't use this as an opportunity enforce existing common carrier regulations and adopt new stricter ones for #airlines? $DAL $UA $AAL $JBLU $LUV
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @johngaltier45: Priced in... $AAL, $UAL, $LUV &amp; $SPY
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @_reina_x: “He who marries a woman only for her beauty will not find anything he likes in her , he who marries her for her wealth will b…
</pre>
</div>
<div class='tweet-body'>
<pre>
Norway's $1 trillion wealth fund is excluding some of the world's biggest commodities firms from its portfolio, including Glencore (GLEN.L) and Anglo American (AAL.L), because of their use and production of coal. #TeamWorldSupporter https://t.co/9GG7GF5aU4
</pre>
</div>
<div class='tweet-body'>
<pre>
Chin up fellas, I’m sure you’ll get creative $AAL $UAL $DAL $JBLU $LUV https://t.co/NNB0q1o7f6
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @UPBOptionMil: Some of todays top stock option open interest changes 5.13.20   $C $SABR $AAL $UAL $DKNG $CRC $JPM $PAGS $TSLA https://t.…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @AjaySin56675315: Dear @narendramodi
@AmitShah @BJP4Bengal
@adgpi @WBPolice please stop all this. These areas will become j&amp;k if aal hap…
</pre>
</div>
<div class='tweet-body'>
<pre>
@Green_Chilli56 
What happen
Aal naraz he kya hamse
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @legendarihhhh: Rihanna was NINETEEN when she released Umbrella. The impact of this song was huge, defined a generation, a timeless clas…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @SwingDayOptions: Join with our free chat room. https://t.co/ORJzEKcTfA

$DIA #DJIA $SPY $AAPL $AMZN $FB $NFLX $GOOG $NVDA $TSLA $AVGO $…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @IQStockAlerts1: Watching QBIO as the biotech enters commercial phase. Solid pipeline and great management. $GE $AMD $INO $PBR $F $T $OX…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @TheBurdetteLawF: Most active on Tuesday - $CBAY $UBER $NVAX $GE $F $BAC $INO $AMD $AAL $WFC $ITUB $GRUB $MRO $UAL $ET $DAL $CCL $NCLH $…
</pre>
</div>
<div class='tweet-body'>
<pre>
Dear @narendramodi
@AmitShah @BJP4Bengal
@adgpi @WBPolice please stop all this. These areas will become j&amp;k if aal happens like this. #Bengal #BengalBurning #BengaliHindusInDanger
#मरता_हिन्दू_जलता_बंगाल
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @UPBOptionMil: Some of todays top stock option open interest changes 5.13.20   $C $SABR $AAL $UAL $DKNG $CRC $JPM $PAGS $TSLA https://t.…
</pre>
</div>
<div class='tweet-body'>
<pre>
RT @TheBurdetteLawF: Most active options Tuesday - $AAPL $TSLA $ET $MSFT $UBER $SDC $AMD $NVDA $DDOG $T $BAC $CSCO $BA $ROKU $DIS $FB $TLRY…
</pre>
</div>
